.addtabata section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

.addtabata input[type=text], label {
    display: inline-block;
}

.addtabata input[type=range]::-ms-fill-lower {
    background-color: red;
}

.addtabata input[type=range]::-ms-track {
    color: transparent;
}

.addtabata input[type=range]::-ms-ticks-before {
    display: block;
    color: rgb(150, 150, 150);
    height: 8px;
    padding-bottom: 5px;
}

.addtabata label {
    width: 100px;
}

.addtabata input[type=text] {
    width: 270px;
}

@media screen and (-ms-view-state: snapped) {
    .addcomputer section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .addcomputer section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}