.homepage section[role=main] {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    margin-left: 120px;
    margin-right: 120px;
    text-align: right;
    width: 85%;
    position: relative;
}

#tabata-play-content {
    height: 360px;
    text-align: center;
}

.info-wrap {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: -200px;
    margin: 250px 100px 0;
}

/*.basic-tabata-template .description-value {
    font: normal 42pt Segoe UI Light;
}

.basic-tabata-template .description-name {
    font: normal 20pt Segoe UI;
}*/

#prepare-wrap {
    background-color: #ee7202;
    visibility: visible;
}

#work-wrap {
    background-color: #d01515;
}

#rest-wrap {
    background-color: #7aa518;
}

.counter-wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 360px;
    width: 100%;
    color: white;
    visibility: hidden;
}

    .counter-wrap h3 {
        font: normal 72pt Segoe UI Light;
        display: inline-block;
        float: left;
        margin: 100px 20px 0 320px;
    }

    .counter-wrap div {
        font: normal 250pt Segoe UI Light;
        display: inline-block;
        float: right;
        margin: -60px 100px 0 50px;
    }

#start {
    position: absolute;
    bottom: 5px;
    right: 0;
    color: white;
    font: normal 9pt Segoe UI;
}

#lazyadd {
    position: absolute;
    bottom: 5px;
    left: 0;
    color: white;
    font: normal 9pt Segoe UI;
}

.win-listview {
    width: 100%;
    height: 280px;
    padding: 0 115px 5px;
    border-top: solid 2px rgba(0, 0, 0, 0.13);
    background-color: gray;
}

.win-container {
    overflow: hidden;
    border: solid 2px rgba(0, 0, 0, 0.13);
}

.win-item {
    padding: 5px 5px 10px;
    width: 213px;
    height: 210px;
    background-color: #a91049;
}

    .win-item:nth-child(odd) {
        background-color: #cb1459;
    }

.description-holder {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}

.description-value {
    color: white;
    margin: -6px 0 0;
    padding: 0;
    text-align: center;
    font: normal 20pt Segoe UI Light;
}

.description-name {
    margin: -6px 0 4px;
    font: normal 9pt Segoe UI;
    color: rgba(0, 0, 0, 1);
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 50px;
        height: 100%;
        width: 90%;
        text-align: center;
    }

    .homepage #tabata-play-content {
        height: 100%;
    }

    .homepage .info-wrap {
        position: absolute;
        z-index: 1;
        left: -30px;
        top: -230px;
    }

    .homepage .counter-wrap {
        height: 100%;
        width: 100%;
        color: white;
        visibility: hidden;
    }

        .homepage .counter-wrap h3 {
            font: normal 72pt Segoe UI Light;
            position: absolute;
            top: 60%;
            left: auto;
            right: auto;
        }

        .homepage .counter-wrap div {
            font: normal 150pt Segoe UI Light;
            position: absolute;
            left: auto;
            right: auto;
            bottom: 120px;
        }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .homepage .titlearea {
        padding-left: 60px;
    }

    .homepage section[role=main] {
        margin-left: 80px;
        margin-right: 20px;
        margin-top: -10px;
        padding-bottom: 50px;
        height: 95%;
        width: 85%;
        text-align: center;
    }

    .homepage #tabata-play-content {
        height: 100%;
    }

    .homepage .info-wrap {
        position: absolute;
        z-index: 1;
        left: -30px;
        top: -230px;
    }

    .homepage .counter-wrap {
        height: 100%;
        width: 100%;
        color: white;
        visibility: hidden;
    }

        .homepage .counter-wrap h3 {
            font: normal 72pt Segoe UI Light;
            position: absolute;
            top: 60%;
            left: auto;
            right: 150px;
        }

        .homepage .counter-wrap div {
            font: normal 300pt Segoe UI Light;
            position: absolute;
            left: 100px;
            right: auto;
            bottom: 500px;
        }
}
