
/*.homepage section[role=main] h1{
font-size:36px;
}

.playtabata-fragment section {
    display:inline-block
}


table  {
 width:100%;

}
 th, td {
 height:20px;
 width:100px;
 text-align:center
 }*/


@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 120px;
    }
}
